html
{
	background-color: #171718;
}

#page
{
	z-index: 1;
	width: 954px;
	min-height: 530.6682375633583px;
	border-width: 2px;
	border-style: solid;
	border-color: #DBDBDB;
	margin: 16px auto 104px;
	padding: 5px 152px 234.33176243664172px 114px;
	background: #000000 url("../image/master_u949_fr.png") no-repeat left top;
	background-color: rgba(0, 0, 0, 0.85);
	-pie-background: rgba(0, 0, 0, 0.85) url("../image/master_u949_fr.png") no-repeat left top;
}

#master-header
{
	width: 0.01px;
	position: relative;
}

#n1
{
	z-index: 3;
	width: 154px;
	min-height: 43px;
	font-family: Garamond, Hoefler Text, Palatino, Palatino Linotype, serif;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	color: #C8C8C8;
	position: relative;
	margin-right: -154px;
	margin-top: 15px;
	left: 377px;
}

#n7
{
	z-index: 21;
	width: 117px;
	min-height: 34px;
	font-family: Garamond, Hoefler Text, Palatino, Palatino Linotype, serif;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	color: #C8C8C8;
	position: relative;
	margin-right: -117px;
	margin-top: 15px;
	left: 528px;
}

#n13
{
	z-index: 27;
	width: 350px;
	min-height: 49px;
	font-family: Garamond, Hoefler Text, Palatino, Palatino Linotype, serif;
	font-size: 45px;
	font-weight: bold;
	color: #DEDEDE;
	position: relative;
	margin-right: -350px;
}

#n17
{
	z-index: 15;
	width: 117px;
	min-height: 34px;
	font-family: Garamond, Hoefler Text, Palatino, Palatino Linotype, serif;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	color: #C8C8C8;
	position: relative;
	margin-right: -117px;
	margin-top: 15px;
	left: 663px;
}

#n23
{
	z-index: 9;
	width: 77px;
	min-height: 43px;
	font-family: Garamond, Hoefler Text, Palatino, Palatino Linotype, serif;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	color: #C8C8C8;
	position: relative;
	margin-right: -77px;
	margin-top: 15px;
	left: 794px;
}

#n4, #n10, #n20, #n26
{
	color: #DEDEDE;
}

#n6, #n12, #n22, #n28
{
	font-size: 28px;
}

#n29
{
	width: 0.01px;
	margin-top: 35px;
	position: relative;
}

#n30
{
	z-index: 32;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 100px;
	left: 876px;
}

#n33
{
	z-index: 35;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 253px;
	left: 265px;
}

#n36
{
	width: 0.01px;
	position: relative;
	margin-right: -954px;
}

#n37
{
	z-index: 52;
	width: 450px;
	border-width: 3px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#n37_img
{
	vertical-align: top;
}

#n39
{
	width: 0.01px;
	margin-top: 25px;
	position: relative;
}

#n40
{
	z-index: 46;
	position: relative;
	width: 398px;
	margin-right: -398px;
	margin-top: 11px;
}

#n46
{
	z-index: 43;
	width: 5px;
	position: relative;
	margin-right: -5px;
	left: 949px;
}

#n49
{
	z-index: 39;
	margin-left: 1px;
	margin-top: 31px;
	position: relative;
}

#n40_img, #n49_img
{
	display: block;
	vertical-align: top;
}

